{% extends 'base.html.twig' %}

{% block title %}Mes Adresses  - La boutique française{% endblock %}

{% block content %}
    <h1>Mes Adresses</h1>
    C'est dans cet espace que vous allez pouvoir gérer vos adresses. <br>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
        -- TODO -- Vue de mes adresses
    <hr>

{% endblock %}
